.App {
  text-align: center;
}

button {
  background-color: lightgreen;
}

.buttonArea {
  height: 300px;
  width: 500px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid black;
  background-color: pink;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttonArea button {
  height: 80px;
  width: 200px;

  font-size: 1.5em;
}

.preparationPage .boardArea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.board {
  display: flex;
  flex-direction: column;
}

.boardRow {
  display: flex;
  flex-direction: row;
}

.boardCell {
  height: 32px;
  width: 32px;

  border: 1px solid black;
  background-color: aqua;
}

.battleships {
  background-color: lightgray;

  display: flex;
  flex-direction: column;
}

.selectedBattleshipArea {
  background-color: gold;
}

.battleship, .placedBattleship {
  margin: 10px 10px;

  display: flex;
  flex-direction: row;
}

.battleship div, .placedBattleship div {
  height: 32px;
  width: 32px;

  border: 1px solid black;
  background-color: red;
}

.placedBattleship div {
  opacity: 0.3;
}

.readyButton {
  height: 100px;
  width: 250px;
  
  font-size: 1.7em;
}
